<div class="card mt-3 p-2 mx-auto" style="width: 60rem;">
    <h5 class="ms-1">NUEVO PROYECTO</h5>
    <div class="container ms-1" style="width: 28rem;">
        <div class="card p-2">
            <h5 class="card-title">Datos del Proyecto</h5>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="fechainicio">Fecha Inicio:</label>
                        <input type="date" class="form-control" name="fechainicio" id="fechainicio">
                    </div>
                    <div class="col">
                        <label for="fechafin">Fecha Fin:</label>
                        <input type="date" class="form-control" name="fechafin" id="fechafin">
                    </div>
                </div>
                <div class="form-floating mb-3">
                    
                    <textarea class="form-control" id="descripcion" cols="30" rows="10" placeholder="descripcion" maxlength="500" style="height: 10rem;"></textarea>
                    <label for="descripcion">Descripcion del proyecto(max 500 char)</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
            </div>

        </div>
    </div>
    
</div>