@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Pacifico&display=swap');

.navbar-brand{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
.navbar-nav > .btn{
    height: 4rem;
}
h5{
    font-family: "DM Serif Display", serif;
    font-size: 25px; 
}